body
{
    margin: 10px;
    padding: 10px;
    background:url("/Quinta/Imagens/banner_page-paes.jpg")no-repeat;
    background-size:cover;
    font-family:Tahoma,sans-serif;
}

.form-menu input[type=submit],
.form-consulta input[type=submit]
{
    border: none;
    height: 40px;
    outline: none;
    color: #ffffff;
    font-size: 15px;
    background-color: tomato;
    cursor: pointer;
    border-radius: 10px;
}
.form-menu input[type=submit]:hover,
.form-consulta input[type=submit]:hover
{
    background-color: cyan;
    color: #ffffff;
}
.form-consulta
{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 170px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.5);
    padding: 40px;
}
.form-tabel
{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1300px;
    height: 430px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.5);
    padding: 40px; 
}
.form-consulta
h2
{
    margin: 0px;
    padding: 0 0 20px;
    font-weight: bold;
    color: #ffffff;
}
label
{
    display: block;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    color: #ffffff;
}

.form-consulta input,select
{
    margin-bottom: 20px;
    width: 300px;
}
.form-consulta input[type=text],
.form-consulta input[type=number]

{
    border: nome;
    border-bottom: 1px solod #ffffff;
    background-color: transparent;
    outline: none;
    height: 40px;
    color: #ffffff;
    display: 16px;
}
::placeholder
{
    color: #ffffff;

}