body
{
    margin: 10px;
    padding: 10px;
    background:url("/Quinta/Imagens/banner_page-paes.jpg")no-repeat;
    background-size:cover;
    font-family:Tahoma,sans-serif;
}
.form-menu input[type=submit]
{
    border: none;
    height: 40px;
    outline: none;
    color: #ffffff;
    font-size: 15px;
    background-color: tomato;
    cursor: pointer;
    border-radius: 10px;
}
.form-menu input[type=submit]:hover
{
    background-color: cyan;
    color: #ffffff;
}
.form-home
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.5);
    padding: 40px;
}
.form-home
h2
{
    align-self: auto;
    margin: 0px;
    padding: 0 0 20px;
    font-weight: bold;
    color: #ffffff;
}
label
{
    display: block;
    padding: 0px;
    font-weight: bold;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
 
}

.form-home input[type=text]
{
    border: nome;
    border-bottom: 1px solod #ffffff;
    background-color: transparent;
    outline: none;
    height: 40px;
    color: #ffffff;
    display: 16px;
}
