body
{
    margin: 10px;
    padding: 10px;
    background:url("/Quinta/Imagens/banner_page-paes.jpg")no-repeat;
    background-size:cover;
    font-family:Tahoma,sans-serif;
}

.form-usu
{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 372px;
    height: 452px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.5);
    padding: 40px;
}

.form-usu
h2
{
    margin: 0px;
    padding: 0 0 20px;
    font-weight: bold;
    color: #ffffff;
}

label
{
    display: block;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    color: #ffffff;
}

.form-usu input,select
{
    margin-bottom: 20px;
    width: 300px;
}
.form-usu input[type=text],
.form-usu input[type=password]     
{
    border: nome;
    border-bottom: 1px solod #ffffff;
    background-color: transparent;
    outline: none;
    height: 40px;
    color: #ffffff;
    display: 16px;
}

::placeholder
{
    color: #ffffff;

}
.form-usu select
{
    margin-top: 20px;
    padding: 10px 0;
}

.form-usu input[type=submit]
{
    border: none;
    height: 40px;
    outline: none;
    color: #ffffff;
    font-size: 15px;
    background-color: tomato;
    cursor: pointer;
    border-radius: 10px;
}
.form-usu input[type=submit]:hover
{
    background-color: cyan;
    color: #ffffff;
}

.form-menu input[type=submit]
{
    border: none;
    height: 40px;
    outline: none;
    color: #ffffff;
    font-size: 15px;
    background-color: tomato;
    cursor: pointer;
    border-radius: 10px;
}
.form-menu input[type=submit]:hover
{
    background-color: cyan;
    color: #ffffff;
}

