body
{
    margin: 0px;
    padding: 0px;
    background:url("/Quinta/Imagens/banner_page-paes.jpg")no-repeat;
    background-size:cover;
    font-family:Tahoma,sans-serif;
}

.form-area
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.5);
    padding: 40px;
}


h2
{
    margin: 0px;
    padding: 0 0 20px;
    font-weight: bold;
    color: #ffffff;
}
label
{
    display: block;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    color: #ffffff;
}
.form-area input,select
{
    margin-bottom: 20px;
    width: 300px;
}
.form-area input[type=email],
.form-area input[type=password]

{
    border: nome;
    border-bottom: 1px solod #ffffff;
    background-color: transparent;
    outline: none;
    height: 40px;
    color: #ffffff;
    display: 16px;
}
::placeholder
{
    color: #ffffff;

}
.form-area select
{
    margin-top: 20px;
    padding: 10px 0;
}

.form-area input[type=submit]
{
    border: none;
    height: 40px;
    outline: none;
    color: #ffffff;
    font-size: 15px;
    background-color: tomato;
    cursor: pointer;
    border-radius: 10px;
}
.form-area input[type=submit]:hover
{
    background-color: cyan;
    color: #ffffff;
}
.form-area a
{
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;

}